@charset "utf-8";
/* CSS Document */
.request_wrap{background:url(../img/main/dnomade_studio_logo_w.png) no-repeat 80px 28px /106px 44px fixed,url(../img/main_black.jpg) center center no-repeat / cover; }
.inputs_wrap{position:absolute; top:230px; left:50%; margin-left:-580px;  z-index:3; width:calc(100% - 40px); max-width:1080px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
.inputs_wrap > li{margin-bottom:33px; width:calc(100% - 40px); max-width:1080px; height:34px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
.inputs_wrap > li > ul{ background-color:#0FF;}
.inputs_wrap > li > ul > li.title{width:81px; color:#cacad9; font-size:15px; float:left; font-weight:400; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
.inputs_wrap > li > ul > li.inputwrap{width:calc(100% - 81px);float:left;  -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
.inputs_wrap > li > ul > li.inputwrap > input{width:100%; height:34px; background-color:#343439; border:none; color:#72727e; font-size:13px; font-weight:600; text-indent:10px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
.inputs_wrap > li > ul > li.inputwrap > textarea{width:100%; height:270px; background-color:#343439; border:none; text-indent:10px;} 
 a.bnt{display:block; width:100px; line-height:35px; height:35px; text-align:center; text-decoration:none; color:#72727e; font-size:13px; font-weight:500; position:absolute; bottom:-60px; left:50%; margin-left:-50px; background-color:#343439;}
 
 
.warning_wrap{position:absolute; width:580px; height:250px; top:50%; margin-top:-125px; left:50%; margin-left:-290px; background-color:#343439; text-align:center; z-index:50; display:none;}
.warning_wrap > ul > li.text{width:80%; height:100px; color:#72727e; font-size:15px; margin:15px 10% 50px 10%; margin-top:30px; font-weight:600; line-height:100px;}
.warning_wrap > ul > li.bnt{width:100px; height:35px; color:#fff; font-size:13px; background-color:#f1c652; line-height:35px; display:inline-block; cursor:pointer;}

.block{position:fixed; width:100%; height:600px; background-color:#000; top:0; left:0; z-index:40;  filter:alpha(opacity=0.7); -khtml-opacity:0.7;-moz-opacity:0.7;opacity:0.7; display:none;}

#iframe_send{display:none;}

@media all and (max-width:1200px) and (min-width:554px){
	.inputs_wrap{left:20px;  margin-left:0;}
}

@media all and (max-width:554px){
	.inputs_wrap{left:20px;  margin-left:0;}
	.inputs_wrap > li{width:100%;}
}


@media all and (max-width:768px) and (min-width:639px){
	.inputs_wrap{top:200px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.inputs_wrap > li > ul > li.inputwrap > input{height:30px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.inputs_wrap > li{margin-bottom:25px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
}

@media all and (max-width:640px) and (min-width:426px){
	.inputs_wrap{top:150px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.inputs_wrap > li > ul > li.inputwrap > input{height:25px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.inputs_wrap > li{margin-bottom:20px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
}

@media all and (max-width:425px){
	.inputs_wrap{top:150px;; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.inputs_wrap > li > ul > li.inputwrap{width:calc(100% - 60px);  -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.inputs_wrap > li > ul > li.title{width:60px; font-size:13px;}
	.inputs_wrap > li > ul > li.inputwrap > input{height:20px; font-size:12px; font-weight:400; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.inputs_wrap > li{margin-bottom:10px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
}