@charset "utf-8";
/* CSS Document */

.pofol_wrap{position:absolute; max-width:871px; width:calc(100% - 40px); height:470px; left:50%; margin-left:-400px; overflow-y:hidden; z-index:3; top:50%; margin-top:-200px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
.pofol_inner{width:auto; height:451px; position:relative; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
.pofol_list > li{position:absolute; width:273px; left:0; top:0; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
.pofol_list > li:nth-child(1){margin-left:0;}

.pofol_list > li a > ul > li:nth-child(1) .over{position:absolute; top:0; width:100%; height:347px; z-index:4;}
.pofol_list > li a > ul > li:nth-child(1) .over > li{ position:absolute; color:#fff; font-size:20px; text-align:center;}
.pofol_list > li a > ul > li:nth-child(1) .over > li:nth-child(1){z-index:5; left:50%; margin-left:-52px; top:50%; margin-top:-19px; font-weight:600;}
.pofol_list > li a > ul > li:nth-child(1) .over > li:nth-child(2){z-index:5; left:50%; margin-left:-12px; top:50%;  margin-top:12px;}
.pofol_list > li a > ul > li:nth-child(1) .over > li:nth-child(3){top:0; left:0; width:100%; height:351px; background-color:#000; filter:alpha(opacity=0); -khtml-opacity:0;-moz-opacity:0;opacity:0; color:#fff;}
.pofol_list > li a > ul > li:nth-child(1) > div{position:absolute; width:100%; overflow:hidden; }
.pofol_list > li a > ul > li:nth-child(1) img{ -webkit-transform:scale(1); -ms-transform:scale(1); -moz-transform:scale(1); -o-transform:scale(1); -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease; width:100%;}
.pofol_list > li a > ul > li:nth-child(1) img.on{-webkit-transform:scale(1.2); -ms-transform:scale(1.2); -moz-transform:scale(1.2); -o-transform:scale(1.2); -webkit-transition:0.3s all ease; -ms-transition:0.3s all ease; -moz-transition:0.3s all ease; -o-transition:0.3s all ease;}
.pofol_list > li a > ul > li:nth-child(1){width:100%; height:347px; margin-left:0; margin-bottom:14px; cursor:pointer;}
.pofol_list > li a > ul > li:nth-child(2){font-size:13px; color:#9a9a9a; margin-bottom:7px;}
.pofol_list > li a > ul > li:nth-child(3){font-size:20px; color:#515151; font-weight:600;}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#d54e50; height:1px;}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{background-color:#3a3a3d;} 

@media all and (max-width:1054px) and (min-width:960px){
	.pofol_wrap{margin-left:-460px; margin-top:-210px; height:422px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li{position:absolute; width:233px; left:0; top:0; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(1){width:100%; height:299px; margin-bottom:14px; cursor:pointer; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(1) .over > li:nth-child(3){height:299px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_inner{height:422px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(3){font-size:17px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(1) .over{height:299px}
}

@media all and (max-width:960px){
	
	.pofol_wrap{margin-left:0; left:20px; width:calc(100% - 76px); margin-top:-210px; height:422px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li{position:absolute; width:233px; left:0; top:0; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(1){width:100%; height:299px; margin-bottom:14px; cursor:pointer; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(1) .over > li:nth-child(3){height:299px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_inner{height:422px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(2){ margin-bottom:5px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(3){font-size:17px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(1) .over{height:299px}
}



@media all and (max-width:554px){
	.pofol_wrap{margin-left:0; left:20px; width:calc(100% - 40px); height:351px; top:150px; margin-top:0;}
	.pofol_inner{height:351px}
	.pofol_list > li{position:absolute; width:214px; left:0; top:0; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(1){width:100%; height:270px; margin-bottom:14px; cursor:pointer; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(1) .over > li:nth-child(3){height:270px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(2){font-size:12px; margin-bottom:3px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
	.pofol_list > li a > ul > li:nth-child(3){font-size:15px; -webkit-transition:0.5s all ease; -ms-transition:0.5s all ease; -moz-transition:0.5s all ease; -o-transition:0.5s all ease;}
}
