*{margin:0;padding:0;}
h1{
  width:500px;
  height:70px;
  margin-bottom: 20px;
  border:2px solid brown;
}
p{
  font-size:30px;
  padding-bottom: 30px;
  cursor: pointer;
}
.tra{
  background-color: #ae5329;
  transform: translate(-500px,0);
  /* 변형 : 이동(x,y) */
  transition: all 0.5s;
}

/* '+' next */
.btn1:hover + .tra{
  transform: translate(0,0);
}
/* btn1에 호버하면 원래위치 */

.rot1{
  margin:200px 0;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.btn2:hover + .rot1 {
  transform: rotate(360deg);
}


.rot2 {
  margin: 200px 0;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.btn3:hover + .rot2 {
  transform: rotateY(360deg);
}


.rot3 {
  margin: 200px 0;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.btn4:hover + .rot3 {
  transform: rotateX(360deg);
}


.sca {
  margin: 50px 0;
  transform: scale(1,1);
  /* 크기 1 */
  /* scaleX() */
  transition: all 0.5s;
}
.btn5:hover + .sca{
  transform: scale(2,2);
  /* 크기 x로 2배 y로 두배 */
}


.ske {
  margin: 50px 0;
  transform: skewX(0deg);
  transition: all 0.5s;
}
.btn6:hover + .ske {
  transform: skewX(-45deg);
}

.ske1 {
  margin: 50px 0;
  transform: skewY(0deg);
  transition: all 0.5s;
}

.btn7:hover + .ske1 {
  transform: skewY(-45deg);
}


