@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
  color: inherit;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  display: block;
}

.cf::after {
  content: '';
  display: block;
  clear: both;
}

.float {
  float: left;
}

html,
body,
#root,
.app-root {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  background-color: #000;
}

.app-root {
  position: relative;
  /* overflow: hidden; */
}


/* #fullpage{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
} */
.full_cover{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.section{
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
}


/* #section1 -------------------- */
#section1{
  background-color: #000;
}
#section1 .sub-txt{
  position:absolute;
  left:10%;
  top:50%;
  transform: translateY(-50%);
  color:#fff;
}
#section1 .sub-txt .sub-txt1{
  font-size:28px;
}
#section1 .sub-txt .sub-txt2{
  font-size: 68px;
}


/* #section2 -------------------- */
#section2{
  top:auto;
  background-color:#fff;
  color:#000;
}
#section2 .value-cover{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:80%;
  height:50%;
}
#section2 .value-cover .left-value{
  float:left;
  width:50%;
}
#section2 .value-cover h1.value-txt{
  font-size:48px;
  letter-spacing:-1px;
}
#section2 .value-cover a{
  position:relative;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  width:250px;
  height:50px;
  color:#000;
  font-weight:bold;
  margin-top:20px;
  border-radius:50px;
  padding-left:60px;
  overflow:hidden;
}
#section2 .value-cover a span{
  position:absolute;
  top:0;
  left:0;
  width:50px;
  height:50px;
  border-radius:50px;
  background-color:rgba(0,0,0,0.1);
  transition: width 0.4s ease, border-radius 0.4s ease;
}
#section2 .value-cover a:hover span{
  width:100%;
  border-radius:50px;
}

#section2 .value-cover .right-value{
  float:left;
  height:100%;
  letter-spacing:-1px;
}
#section2 .value-cover .right-value .valuebox{
  position:relative;
  width:100%;
  height:30%;
  padding:10px;
}
#section2 .value-cover .right-value .valuebox::after{
  content: "";
  position:absolute;
  bottom:30px;
  left:0;
  width:100%;
  height:1px;
  background-color:#999;
}
#section2 .value-cover .right-value .valuebox:last-child:after{
  display: none;
}
.right-value .valuebox .color-txt{
  float:left;
  width:20%;
  font-size:18px;
  font-weight:bold;
  color:#f52f23;
  /* background:pink; */
}
.right-value .valuebox .value-subtxt{
  float:left;
  width:80%;
  /* background:skyblue */
}
.right-value .valuebox  .value-subtxt .val-bold{
  font-weight:bold;
  font-size:16px;
}

/* ball-ani */
.ball-ani{
  position:absolute;
  bottom:0;
  left:0;
  width:150px;
  height:150px;
  background-color:#f52f23;
  border-radius:50%;
}
.ball-ani.ani1{
  animation:ball1 25s linear infinite;
  /* ball1 애니메이션을 25초간에 걸쳐 일정한 속도 무한반복 */
}
.ball-ani.ani2{
  animation: ball2 35s linear infinite;
}
.ball-ani.ani3{
  left:110%;
  background-color: transparent;
  border:5px solid #f52f23;
  box-sizing: border-box;
  animation: ball3 30s linear infinite;
}

@keyframes ball1{
  0%{left:-150px;}  
  100% {left: 120%;}
}

@keyframes ball2{
  0% {left: -150px;}
  100% {left: 120%;}
}

@keyframes ball3{
  0% { left: 105%;}
  100% {left: -105%;}
}



/* #section3 -------------------- */
#section3{
  background-color: #000;
}
#section3 .section3-cover{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:80%;
  height:60%;
}
#section3 .section3-txt{
  font-size:48px;
  color:#fff;
  margin-bottom:20px;
}


/* .section3-icon */
#section3 .section3-icon > ul > li{
  float:left;
  width:25%;
  height:200px;
  position:relative;
}

#section3 .section3-icon>ul>li .icon1{
  width:20px;
  height:20px;
}

#section3 .section3-icon>ul>li .icon1,
#section3 .section3-icon>ul>li .m-ball,
#section3 .section3-icon>ul>li .circleball{
  position:absolute;
  border-radius:50%;
  background-color:#444;
}


#section3 .section3-icon>ul>li .icon1.s-ball1{
  bottom:0;
  left:0;
  animation:s-ball1 3s ease-in-out infinite;
}
#section3 .section3-icon>ul>li .icon1.s-ball2{
  bottom: 0;
  left:30px;
  background-color:#f52f23;
  animation: s-ball2 3s ease-in-out infinite;
}
#section3 .section3-icon>ul>li .icon1.s-ball3{
  bottom:30px;
  left:30px;
  animation: s-ball3 3s ease-in-out infinite;
}
@keyframes s-ball1{
  0%{left:0;}  
  25%{left:30px;}
  50%{left:0;}
  100%{left:0;}
}
@keyframes s-ball2{
  0%{left:30px;}  
  25%{left:0px;}
  50%{left:30px;bottom:0;}
  75%{bottom:30px;}
  100%{bottom:0;}
}
@keyframes s-ball3{
  0%{left:30px;bottom:30px;}    
  50%{left:30px;bottom:30px;}
  75%{bottom:0px;}
  100%{left:30px;bottom:30px;}
}



#section3 .section3-icon>ul>li .m-ball{
  width:40px;
  height:40px;
}
#section3 .section3-icon>ul>li .m-ball.mball1{
  left:0;
  bottom:0;
  animation: mball1 3s ease-in-out infinite;
}
#section3 .section3-icon>ul>li .m-ball.mball2{
  left: 30px;
  bottom: 0;
  background-color: #f52f23;
  animation: mball2 3s ease-in-out infinite;
}
@keyframes mball1{
  0%{left:0;}  
  50%{left:30px;}  
  100%{left:0;}
}
@keyframes mball2{
  0%{left:30px;}  
  50%{left:0px;}  
  100%{left:30px;}
}


#section3 .section3-icon>ul>li .c-ball1{
  bottom:0;
  left:0;
  width:40px;
  height:40px;
  animation: circleball 3s linear infinite;
}
#section3 .section3-icon>ul>li .c-ball2{
  top:-7.5px;
  left:50%;
  transform: translateX(-50%);
  width:15px;
  height:15px;
  background-color: #f52f23;
}
@keyframes circleball{
  0%{transform: rotate(0);}
  100%{transform: rotate(359deg);}
}


#section3 .section3-icon>ul>li .icon1.s-ball4{
  left:0;
  bottom:0;
  animation: s-ball4 2s ease-in-out infinite;
}
@keyframes s-ball4{
  0%{left:0;}
  50%{left:20px;}
  75%{left:0;}
  100%{left:0;}
}
#section3 .section3-icon>ul>li .icon1.s-ball5{
  left:30px;
  bottom:0;
  animation: s-ball5 2s ease-in-out infinite;
}
#section3 .section3-icon>ul>li .icon1.s-ball6{
  left:60px;
  bottom:0;
  background-color: #f52f23;
  animation: s-ball6 2s ease-in-out infinite;
}
@keyframes s-ball5{
  0% {left:30px;bottom: 0;}
  25%{bottom:30px;}
  50%{bottom:30px;}
  75%{bottom:0;}
  100%{bottom:0;}
}
@keyframes s-ball6{
  0% {left:60px;}
  25%{left:40px;}
  50%{left:40px;}
  75%{left:60px;}
  100%{left:60px;}
}


#section3 .section3-txt>ul>li{
  float:left;
  width:25%;
  font-size:24px;
  font-weight:bold;  
}
#section3 .section3-menu>ul>li{
  float:left;
  width:25%;
}
#section3 .section3-menu>ul>li>ul>li{
  padding:8px 0;
}
#section3 .section3-menu>ul>li>ul>li>a{
  color:#fff;
  position:relative;
  font-weight:bold;
  transition: all 0.4s;
}
#section3 .section3-menu>ul>li>ul>li>a::after{
  content: "";
  position:absolute;
  bottom:-6px;
  left:0;
  width:0;
  height:2px;
  background-color: #fff;
  transition: all 0.6s;
}
#section3 .section3-menu>ul>li>ul>li>a:hover::after{
  width:100%;
}



/* #section4 -------------------- */
#section4{
  background-color:#fff;
}
#section4 .section4-cover{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
}
#section4 .section4-cover .section4-left{
  float:left;
  width:50%;
}
#section4 .section4-cover .section4-right{
  float:left;
  width:50%;
  height:100%;
  padding-top:200px;
}
#section4 .section4-cover .section4-right .small-txt{
  font-size:16px;
  font-weight:bold;
  margin-bottom: 20px;
}
#section4 .section4-cover .section4-right .big-txt{
  font-size:36px;
  font-weight:bold;
  margin-bottom:30px;
  letter-spacing:-1px;
}
#section4 .section4-cover .equally-btn ul li{
  float:left;
  width:30%;
  height:50px;
  margin-left:30px;
}
#section4 .section4-cover .equally-btn ul li:first-child{
  margin-left:0;
}
#section4 .section4-cover .equally-btn ul li a{
  display:block;
  width:100%;
  height:50px;
  line-height:50px;
  text-align: center;
  font-weight:bold;
  letter-spacing:-1px;
  border-radius:30px;
  color:#333;
  font-size:14px;
  border:1px solid #333;
  box-sizing:border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#section4 .section4-cover .equally-btn ul li a:hover{
  background-color: #333;
  color:#fff;
}



/* #section5 -------------------- */
#section5{
  background-color: #f52f23;
  color: #fff;
}

#section5 .section5-cover{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
}

#section5 .section5-txt{
  font-size: 50px;
  letter-spacing: -1px;
  margin-bottom: 80px;
}

#section5 .section5-lr{
  float: left;
  width: 50%;
  height: 100%;
}

#section5 .section5-lr .small-txt{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}

#section5 .section5-lr h3{
  width: 350px;
  font-size: 32px;
  margin-bottom: 30px;
}

#section5 .section5-btn{
  position: relative;
  width: 220px;
  height: 50px;
}

#section5 .section5-btn a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

#section5 .section5-btn a span{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.4s ease;
}

#section5 .section5-btn a:hover span{
  width: 100%;
  border-radius: 30px;
}



/* #section6 -------------------- */





