
@media screen and (min-width:1280px) and (max-width:1599px) {
  header {
    position: relative;
    width: 100%;
    height: 80px;
  }

  nav, section{
    width:100%;
    margin-left:0;
  }

  header h1.logo{
    background-image: url(../images/logo2.png);
    width:200px;
    height:40px;
    top:22px;
    left:20px;
    margin-left:0;
  }
  .gnb{
    top:15px;
    right:200px;
  }
  .gnb li{
    float:left;
  }
  
  .bottom{
    bottom:20px;right:80px;
  }


}





/* 1024 ~ 1279 */
@media screen and (min-width:1024px) and (max-width:1279px) {

  header {
      position: relative;
      width: 100%;
      height: 80px;
    }

  nav, section {
    width: 100%;
    margin-left: 0;
    
  }

  header h1.logo {
    background-image: url(../images/logo2.png);
    width: 200px;
    height: 40px;
    top: 22px;
    left: 20px;
    margin-left: 0;
  }

  .gnb {
    top: 15px;
    right: 200px;
  }

  .gnb li {
    float: left;
  }

  .bottom {
    bottom: 20px;
    right: 80px;
  }

}




/* 780 ~ 1023 */
@media screen and (min-width:780px) and (max-width:1023px) {
header {
    position: relative;
    width: 100%;
    height: 80px;
  }

  nav,
  section {
    width: 100%;
    margin-left: 0;

  }

  header h1.logo {
    background-image: url(../images/logo2.png);
    width: 200px;
    height: 40px;
    top: 22px;
    left: 20px;
    margin-left: 0;
  }

  .gnb {
    top: 15px;
    right: 30px;
  }

  .gnb li {
    float: left;
  }

  .bottom {display: none;
    /* bottom: 20px;
    right: 80px; */
  }


  article:nth-child(1){width:75%;}
  article:nth-child(2){width:25%;}
  article:nth-child(3){width:25%;height:260px;}

  article:nth-child(4){width:25%;}
  article:nth-child(5){width:25%;}

  article:nth-child(6){width:50%;}
  article:nth-child(7){width:50%;}
  article:nth-child(8){width:25%;}
  
  article:nth-child(9){width:25%;}

  article:nth-child(10){width:25%;}
  article:nth-child(11){width:25%;}
  article:nth-child(12){width:50%;}

}




/* 640 ~ 779 */
@media screen and (min-width:640px) and (max-width:779px) {
header {
    position: relative;
    width: 100%;
    height: 80px;
  }

  nav,
  section {
    width: 100%;
    margin-left: 0;

  }

  header h1.logo {
    background-image: url(../images/logo2.png);
    width: 200px;
    height: 40px;
    top: 22px;
    left: 20px;
    margin-left: 0;
  }

  .gnb {
    top: 15px;
    right: 30px;
  }

  .gnb li {
    float: left;
  }
  .gnb li a {
    padding: 10px;
  }

  .bottom {display: none;
    /* bottom: 20px;
    right: 80px; */
  }


  article:nth-child(1){width:75%;}
  article:nth-child(2){width:25%;}
  article:nth-child(3){width:25%;height:260px;}

  article:nth-child(4){width:25%;}
  article:nth-child(5){width:25%;}

  article:nth-child(6){width:50%;}
  article:nth-child(7){width:50%;}
  article:nth-child(8){width:25%;}
  
  article:nth-child(9){width:25%;}

  article:nth-child(10){width:25%;}
  article:nth-child(11){width:25%;}
  article:nth-child(12){width:50%;}


}




/* 480 ~ 639 */
@media screen and (min-width:480px) and (max-width:639px) {

header {
    position: relative;
    width: 100%;
    height: 80px;
  }

  nav,
  section {
    width: 100%;
    margin-left: 0;

  }

  header h1.logo {
    background-image: url(../images/logo2.png);
    width: 200px;
    height: 40px;
    top: 22px;
    left: 20px;
    margin-left: 0;
  }

  .gnb {
    top: 15px;
    right: 30px;
  }

  .gnb li {
    float: left;
  }
  .gnb li a {
    padding: 10px;
  }

  .bottom {display: none;
    /* bottom: 20px;
    right: 80px; */
  }


  article:nth-child(1){width:100%;height: 300px;}
  article:nth-child(2){width:100%;height:150px;}
  article:nth-child(3){width:33.33333%;height:260px;display: none;}

  article:nth-child(4){width:25%;display: none;}
  article:nth-child(5){width:50%;height: 150px;}
  article:nth-child(6){width:50%;height: 150px;}

  article:nth-child(7){width:50%;display: none;}
  article:nth-child(8){width:50%;height: 150px;}
  article:nth-child(9){width:50%;height: 150px;}

  article:nth-child(10){width:50%;display: none;}
  article:nth-child(11){width:50%;height: 150px;}
  article:nth-child(12){width:50%;height: 150px;}

  article:nth-child(2) .txt img{bottom: -60px;width:200px}
  article .txt p strong{font-size:25px;}
  article .txt p em{display: none;}

}



@media screen and (max-width:479px) {

}