@font-face{
	font-family:'roboto';
	font-weight:300;
	src:url(../fonts/Roboto-regular.woff2) format("woff2");
}
@font-face{
	font-family:'roboto';
	font-weight:500;
	src:url(../fonts/Roboto-Medium.woff2) format("woff2");
}
@font-face{
	font-family:'roboto';
	font-weight:700;
	src:url(../fonts/Roboto-Bold.woff2) format("woff2");
}
@font-face{
	font-familY:'montserrat';
	font-weight:700;
	src:url(../fonts/montserrat-bold.woff2) format("woff2");
}
@font-face{
	font-familY:'montserrat';
	font-weight:500;
	src:url(../fonts/montserrat-medium.woff2) format("woff2");
}


@font-face{
	font-family:'montserrat';
	font-weight:300;
	src:url(../fonts/montserrat-regular.woff2) format("woff2");
}

@font-face{
	font-familY:'khand';
	font-weight:500;
	src:url(../fonts/khand-regular.woff2) format("woff2");
}

@font-face{
	font-familY:'khand';
	font-weight:600;
	src:url(../fonts/khand-bold.woff2) format("woff2");
}
@font-face{
	font-family:'Linearicons-Free';
	src:url(../fonts/Linearicons-Free.woff2) format("woff2");
}




@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap');