*{margin:0; padding:0;}
a{text-decoration:none; color:#333;}
ul,li{list-style:none;}
.cf::after{content:''; display:block; clear:both;}

/* >>>> header ============================ */

header{
   width:100%;
   height:165px;
   border-top:5px solid #009223;
   position:relative;
   /* z-index: 30; */
}
#h_top{
  width:1200px;
  height:90px;
  margin:0 auto;
}
#h_top>a{
  display: block;
  width:202px;
  height:40px;
  position:absolute;
  top:25px;
  left:50%;
  transform: translate(-50%, 0);
}
#h_top>a img{
  width:100%;
}
#h_top ul{
  float:right;
  margin-top:30px;
}
#h_top ul li{float:left;}
#h_top ul li a{
  display: block;
  border:1px solid #ddd;
  border-radius:50px;
  padding:5px 13px;
  margin-left:15px;
  font-size:13px;
  height:20px;
  line-height:20px;
}
#h_top ul li a.earth{
  width:32.5px;
  padding:5px 0;
  background:url(/img/icon_global_subway.png) no-repeat center;
}

nav{
  width:100%;
  border-bottom:1px solid #e5e5e5;
}
nav>ul{
  width:1200px;
  height:75px;
  margin:0 auto;
  padding:0 100px;
  text-align: center;
  box-sizing: border-box;
  position:relative;
  z-index: 15;
  /* .shadow 보다 위에 nav>ul 메뉴가 나타나야 하므로 relative와 z-index지정 */
}
nav>ul>li{
  float:left;
}
nav>ul>li>a{
  display:block;
  width:200px;
  height:75px;
  font-size:18px;
  font-weight:bold;
  line-height:75px;
}

nav ul li ul{
  width:200px;
  position:absolute;
  top:75px;
  text-align:center;
  overflow:hidden;
  height: 0;
  opacity:0;
  transition: all 0.2s;
  padding-top:20px;
}
nav ul:hover li ul{
  height:200px;
  opacity: 1;
}
nav ul li ul li a{
  font-size:15px;
  color:#666;
  padding:8px 0 9px;
  display:block;
  letter-spacing:-0.05em;
  font-weight:bold;
}
nav ul li:hover > a{
  color:#009223;
}
nav ul:hover + .shadow{
  height:250px; 
  /* background:#fff; */
}
nav ul li ul li:hover a{
  color:#009223;
  text-decoration: underline;
}

/* #section01 ---------------------------- */
#section01{
  width:100%;
}
/* slide 부분 */
.slide{
  height:440px;
  width:100%;
  position:relative;
  overflow:hidden;
}
.slide .slick-list,
.slide .slick-track{
  height:440px;
}
.slide .slick-track{
  display: flex;
  /* slick-track : slick-cauousel 이 슬라이드들을 감싸는 트랙요소 */
}
.slide .slick-slide{
  height:440px;
}
/* .slide->slick-list->.slick-track->.slick-slide */
.slide .slide-item{
  display: block;
  width:100%;
  height:440px;
  background-size:cover;
  background-position: center;
}
.slide .slide-item.i_01 {
  background: url(/img/main_slide_01.jpg) no-repeat center;
}

.slide .slide-item.i_02 {
  background: url(/img/main_pc_1920x440_20200427112254027.jpg) no-repeat center;
}

.slide .slide-item.i_03 {
  background: url(/img/main_pc_1920x440_20200529050816305.jpg) no-repeat center;
}

.slide .slide-item.i_04 {
  background: url(/img/main_pc_1920x440_20200528061058713.jpg) no-repeat center;
}
.slide .slick-dots{
  display: none;
}




.slide .dot-list {
  position: absolute !important;
  right: 20% !important;
  bottom: 60px !important;
  display: flex !important;
  align-items: center !important;
  z-index: 100 !important;
  padding: 0 !important;
  list-style: none !important;
}

.slide .dot-list li {
  margin: 0 5px !important;
  height: 10px !important;
  list-style: none !important;
}

.slide .dot-list li button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 30px !important;
  background-color: #ddd !important;
  border: none !important;
  text-indent: -9999px !important;
  padding: 0 !important;
  margin: 0 !important;
  transition: all 0.3s !important;
  cursor: pointer !important;
  font-size: 0 !important;
  overflow: hidden !important;
}

.slide .dot-list li button:before {
  display: none !important;
}

.slide .dot-list li.slick-active button {
  background-color: #ffc300 !important;
  width: 30px !important;
}

/* sub */
#sub{
  width:1200px;
  height:80px;
  margin:0 auto;
  position:relative;
}
#sub .sub_wrap{
  position:absolute;
  right:0;
  top:-30px;
  z-index:10;
}
/* 슬라이드와 겹치위치 -30px */

#sub .sub_wrap a{
  display: block;
  width:300px;
  height:80px;
  float:left;
  font-size:22px;
  font-weight: bold;
  box-sizing: border-box;
  padding-top:23px;
}
#sub .sub_wrap .sw_left{
  background:#ffce32 url(/img/icon_map.png) no-repeat 35% 50%;
  border-radius:30px 0 0 0;
  color:#292929;
  padding-left:130px;
}
#sub .sub_wrap .sw_right{
  background:#009223 url(/img/icon_franchise.png) no-repeat 20% 50%;
  border-radius:0 0 30px 0;
  color:#fff;
  padding-left:93px;
}



/* #section02 ---------------------------- */
.s02_wrap{
  width:1200px;
  height:560px;
  margin:0 auto;
  padding-top:60px;
  position:relative;
}
.menu_top{
  width:1200px;
  height:77px;
  background:url(/img/bul_tit.png) no-repeat 0 50%;
}
.menu_top h3{
  height:77px;
  padding:12px 0 0 25px;
  font-size:40px;
  box-sizing: border-box;
  width:50%;
  float:left;
}
.menu_top .mt_right{
  float:right;
  margin-top:30px;
}
.menu_top .mt_right li{
  float:left;
  padding-right:25px;
  margin-right:23px;
  position:relative;
}
.menu_top .mt_right li.on a{
  color:#009223;
}
.menu_top .mt_right li:after {
  content: '';
  width: 1px;
  height: 15px;
  background-color: #dddddd;
  position: absolute;
  right: 0;
  top: 5px;
}
.menu_top .mt_right li.last {
  padding: 0;
  margin: 0;
}
.menu_top .mt_right li.last:after {
  display: none;
}
.menu_top .mt_right li a{
  display: block;
  font-size: 16px;
  color:#666;
  font-weight: bold;
}
.menu{
  width:1200px;
  height:320px;
  margin-top:33px;
  overflow: hidden;
  padding-left:30px;
}
.menu ul{
  width:2220px;
}
.menu ul li{
  width:260px;
  height:320px;
  float:left;
  padding:0 5px;
  text-align:center;
  margin-left:40px;
}


/* 샌드위치 한개의 넓이 */
.menu ul li:nth-child(1){
  margin-left:0 !important;
}

.menu ul li a{
  display: block;
  width:100%;
  height:100%;
  position:relative;
}
.menu ul li a:after{
  content: "";
  background: url(/img/btn_more.png) no-repeat 0 0;
  width:98px;
  height:98px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-22px 0 0 -42px;
  opacity: 0;
}
.menu ul li:hover a:after{
  opacity: 1;
}
.menu ul li div{
  width:260px;
  height:182px;
}
.menu ul li div img{
  width:100%;
}
.menu ul li p{
  font-size:13px;
  color:#999;
  letter-spacing: -0.04em;
}
.menu ul li:hover div{
  width:350px;
  height:238px;
}
.menu ul li:hover strong{
  font-size:22px;
  margin-top:-10px;
}
.menu ul li:hover p{
  opacity: 0;
}


/* 이전 다음 버튼 --------------------- */
/* prev */
.s02_wrap a.prev {
  display: block;
  position: absolute;
  top: 50%;
  left: -70px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: -99999px;
  background: url(/img/icon_event_slider_arr.png) no-repeat 0 0;
}

.s02_wrap a.prev:hover {
  background-position: 0 100%;
}

/* next */
.s02_wrap a.next {
  display: block;
  position: absolute;
  top: 50%;
  right: -120px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(/img/icon_event_slider_arr.png) no-repeat 100% 0;
}

.s02_wrap a.next:hover {
  background-position: 100% 100%;
}



/* section03 --------------------- */
#section03 {
  width: 100%;
  height: 790px;
  background: url(/img/bg_content.gif) repeat 0 0;
}

.s03_wrap {
  width: 1300px;
  height: 790px;
  margin: 0 auto;
  padding: 80px 0;
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 300px;
}
.cont_01 {
  float: left;
  width: 400px;
  height: 100%;
  background: url(/img/bg_utilization.png) no-repeat 0 0;
  margin-left: 55px;
  position: relative;
}
.cont_02 {
  float: right;
  width: 825px;
  height: 100%;
  background: url(/img/img_subway_history.png) no-repeat 0 0;
  position: relative;
}

.con_top h3 {
  height: 80px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
  letter-spacing: -0.03em;
}
.cont_01 h3 {
  position: absolute;
  left: 39px;
  top: 38px;
}
.cont_02 h3 {
  position: absolute;
  left: 410px;
  top: 38px;
}

.con_top a {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.cont_01 a {
  position: absolute;
  left: 41px;
  bottom: 42px;
}
.cont_02 a {
  position: absolute;
  left: 410px;
  bottom: 42px;
}


/* content con_bott */
.con_bott {
  margin-top: 30px;
}
.cont_03 {
  float: left;
  width: 870px;
  height: 100%;
  background-color: #fff;
  margin-left: 55px;
  position: relative;
  border-radius: 30px 0 30px 0;
}
.cont_03 h2 {
  color: #292929;
  font-size: 30px;
  font-weight: bold;
  background: url(/img/bul_tit.png) 0 0 no-repeat;
  min-height: 60px;
  padding: 17px 0 0 25px;
  margin-bottom: 1px;
}
.cont_03 .new {
  float: left;
  margin-top: 75px;
  margin-left: 60px;
}
.cont_03 .new p {
  font-size: 16px;
  color: #666;
  text-align: center;
}


.cont_03 ul {
  float: left;
  margin-top: 76px;
  margin-left: 100px;
}
.cont_03 ul li:first-child a {
  margin-top: 0;
}
.cont_03 ul li a {
  display: inline-block;
  font-size: 16px;
  color: #292929;
  letter-spacing: -0.04em;
  margin-top: 21px;
  font-weight: bold;
}
.cont_03 ul li a:hover {
  color: #009223;
  text-decoration: underline;
}
.cont_03 ul li.more a {
  color: #999;
  font-size: 15px;
  padding: 33px 0 8px;
  margin-top: 0;
  text-decoration: none;
}


.cont_04 {
  float: left;
  margin-left: 45px;
  width: 270px;
  height: 100%;
  background: url(/img/subway_logo_bn_20200602031229667.png) no-repeat center;
  position: relative;
  border-radius: 0 30px 0 30px;
}
.cont_04:after {
  content: '';
  display: block;
  width: 30px;
  height: 10px;
  background-color: #ffc300;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 30px;
  transition-duration: 0.3s;
  position: absolute;
  right: 20px;
  top: 20px;
}



/* section04 --------------------- */
#section04 ul {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;
}
#section04 ul li {
  margin-left: 80px;
  float: left;
  padding-top: 1px;
}
#section04 ul li a {
  height: 70px;
  display: block;
}
#section04 ul li a div {
  width: 70px;
  height: 70px;
  float: left;
}

#section04 ul li a .icon1 {
  background: url(/img/icon_quickmenu.png) no-repeat 0 0;
}

#section04 ul li a .icon2 {
  background: url(/img/icon_quickmenu.png) no-repeat -70px 0;
}

#section04 ul li a .icon3 {
  background: url(/img/icon_quickmenu.png) no-repeat -140px 0;
}

#section04 ul li a .icon4 {
  background: url(/img/icon_quickmenu.png) no-repeat -210px 0;
}

#section04 ul li a .tit {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.04em;
  padding-left: 90px;
  padding-top: 8px;
}
#section04 ul li a .txt {
  font-size: 13px;
  font-weight: bold;
  margin-top: 6px;
  letter-spacing: -0.02em;
  padding-left: 90px;
}


/* footer --------------------- */
footer {
  width: 100%;
  height: 150px;
  background-color: #292929;
  padding: 18px 0;
  position: relative;
  box-sizing: border-box;
}

footer:after {
  content: '';
  position: absolute;
  left: 0;
  top: 59px;
  width: 100%;
  height: 1px;
  background-color: #3b3b3b;
}

.footer_wrap {
  width: 1200px;
  margin: 0 auto 25px;
}
.footer_wrap li {
  float: left;
}
.footer_wrap li a {
  display: block;
  color: #666;
  margin-right: 29px;
}
.footer_wrap li a.sp {
  font-weight: bold;
  color: #bbb;
}



.copyright {
  width: 1200px;
  margin: 0 auto;
  color: #666;
  position: relative;
}
.copyright ul li {
  position: relative;
  display: inline-block;
  margin-top: 19px;
  font-size: 13px;
  letter-spacing: -0.01em;
  padding-left: 9px;
  margin-left: 3px;
}
.copyright ul li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 2px;
  height: 10px;
  background-color: #666666;
}
.copyright ul li:first-child {
  padding-left: 0;
  margin-left: 0;
}
.copyright ul li:first-child:after {
  display: none;
}


.copyright div {
  position: absolute;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  overflow: hidden;
  cursor: pointer;
}
.copyright div.instar {
  right: 70px;
  bottom: 5px;
  background: url(/img/icon_sns_instar.png) no-repeat 0 0;
}
.copyright div.instar:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 50PX;
  height: 50px;
  transition: all 0.3s;
  overflow: hidden;
  background: url(/img/icon_sns_instar.png) no-repeat -50px 0;
  opacity: 0;
}
.copyright div.instar:hover:after {
  opacity: 1;
}


.copyright div.facebook {
  right: 0;
  bottom: 3px;
  background: url(/img/icon_sns_facebook.png) no-repeat 0 0;
}
.copyright div.facebook:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 50PX;
  height: 50px;
  transition: all 0.3s;
  overflow: hidden;
  background: url(/img/icon_sns_facebook.png) no-repeat -50px 0;
  opacity: 0;
}
.copyright div.facebook:hover:after {
  opacity: 1;
}
