@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  border: 0;
}

/* header */
/* 중앙정렬 1019 */
.header {
  margin: 0 auto;
  width: 1019px;
  height: 100px;
}


/* .social */
.header .social {
  position: relative;
  float: left;
  margin: 38px 0 25px;
  width: 196px;
  height: 25px;
}

.header .social ul li {
  float: left;
}

.header .social li a {
  display: block;
  margin: 0 3px;
  width: 25px;
  height: 25px;
}

.header .social li:first-child a {
  margin-left: 0;
}


/* mileage_btn */
.header .social .mileage_btn {
  margin-left: 108px;
  width: 88px;
  height: 24px;
}
.header .signature {
  float: left;
  margin: 10px 0 0 236px;
  width: 155px;
  height: 78px;
}


/* mobile_tab */
.mobile_tab {
  display: none;
  position: absolute;
  right:0;
  top:0;
  z-index: 135;
  margin-right:20px;
  margin-top:15px;
  width:28px;
}
.mobile_tab a{
  display: block;
  width:28px;
}


/* mobile_nav */
.mobile_nav {
  /* display: none; */
  position:fixed;
  right:-220px;
  top:0;
  /* top:0; */
  z-index: 150;
  padding:40px 24px;
  width:220px;
  height:100%;
  background:#fff;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  transition: right 0.4s ease-out;
}
.mobile_nav.active{
  right:0;
}

.mobile_nav>ul>li>a{
  display: block;
  padding:0 10px;
  width:100%;
  height:50px;
  line-height: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight:600;
  color:#2f2f2f;
  border-bottom: 1px dotted #ccc;
  box-sizing: border-box;
}
.mobile_nav>ul>li:hover>a{
  color:#b4252d;
}
.mobile_nav .sub{
  display: none;
}
.mobile_nav .sub>ul{
  height:35px;
  border-top:1px dotted #eaeaea;
}
.mobile_nav .sub>ul>li:first-child{
  border-top:none;
}
.mobile_nav .sub li a{
  display: block;
  padding:0 10px;
  width:100%;
  line-height: 35px;
  text-decoration: none;
  font-size: 13px;
  color:#2f2f2f;
  background:#f4f4f4;
  border-bottom:1px dotted #eaeaea;
  box-sizing: border-box;
  transition: background 0.3s;
}
.mobile_nav .sub li a:hover{
  color: #b4252d;
}



/* signature */
.header .signature img {
  width: 100%;
}

.header .location {
  float: right;
  margin-top: 38px;
  height: 26px;
}

.header .location li {
  float: left;
  height: 26px;
}

.header .location li a {
  display: block;
  padding: 0 15px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  font-family: "돋움", Dotum, sans-serif;
  font-size: 12px;
  background: url(../images/bg_table_col.gif) no-repeat left center;
  color: #797d85;
}

.header .location li:first-child a {
  background: none;
}

.header .location li:nth-child(3) a {
  padding-right: 0;
}


/* nav */
.nav{
  position: relative;
}
.nav>ul{
  position:absolute;
  left:0;
  top:0;
  width: 100%;
  height: 54px;
  overflow: hidden;
  transition: height 0.3s;
  background: url(../images/bg_gnb.gif) repeat-x 0 0;
  text-align: center;
}
/* .nav>ul:hover {
  height: 185px;
} */
.nav>ul.over{
  height:185px;
}

.nav>ul>li{
  display: inline-block;
  vertical-align: top;
  position:relative;
  margin-left:61px;
}
.nav>ul>li>a {
  display: block;
  padding: 0 30px;
  line-height: 54px;
  text-decoration: none;
  font-size: 14px;
  color: #2f2f2f;
}

.nav>ul>li:first-child>a {
  padding-left: 0;
}

.nav>ul>li:nth-child(6)>a {
  padding-right: 0;
}

.nav>ul>li:hover>a {
  color: #b4252d;
}

.nav .sub {
  position: absolute;
  margin-left: 30px;
  padding-top: 14px;
  width: 100%;
  /* background:pink */
}

.nav>ul>li:first-child .sub {
  margin-left: 0;
}

.nav .sub a {
  display: block;
  padding: 6px 0 7px;
  line-height: 1;
  text-align: left;
  text-decoration: none;
  font-size: 12px;
  color: #a0a0a0;
}

.nav .sub a:hover {
  text-decoration: underline;
}

/* hero */
.hero{
  margin-top:54px;
}
.hero img{
  width:100%;
  height:auto;
}
.transparency{
  display: none;
  position:fixed;
  left:0;
  top:0;
  z-index: 130;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.4);
}
.transparency.active{
  display: block;
}

@media screen and (max-width:1050px) {
  .header{
    width:826px;
  }
  .header .signature{
    margin-left:146px;
  }
  .nav li:nth-child(6){
    display: none;
  }
  .nav li:nth-child(5) a{
    padding-right:0;
  }

}

@media screen and (max-width:850px) {
  .header{
    width:auto;
    height:72px;
  }
  .mileage_btn {
    display: none;
  }
  .header .social{
    margin:23px 0 24px 20px;
    width:90px;
  }
  .header .signature{
    position:absolute;
    left:50%;
    top:0;
    float: none;
    margin-left:-50px;
    width:100px;
    height:54px;
    /* 로고 정중앙 */
  }
  .header .location{
    display: none;
  }
  /* 오른쪽 lnb메뉴 숨김 */
  .mobile_tab{
    display: block;
  }
  .nav{
    display: none;
  }
  .hero{
    margin-top:0;
  }
  
}

@media screen and (max-width:354px) {
  .header .social{
    display: none;
  }
  .header .signature{
    left:0;
    top:0;
    margin-left:12px;
  }
}
/* 전체 영역이 움직이는 컨테이너 제작 */
.container{
  position:relative;
  left:0;
  transition:left 0.4s ease-out;
}
.container.active{
  left:-220px;
}

