
/* 1280 ~ 1599 */
@media screen and (min-width:1280px) and (max-width:1599px) {
  header{
    position:relative;
    width:100%;
    height:80px;
  }
  nav, section{
    width:100%;
    margin-left:0;
  }
  header h1{
    background-image:url(../images/logo2.png);
    width:200px;
    height:40px;
    top:20px;
    left:20px;
    margin-left:0;
  }

  #gnb{
    top:20px;
    right:200px;
  }
  #gnb li{
    float:left;
  }
  .snsSet{
    bottom:20px;
    right:80px;
  }

}




/* 1024 ~ 1279 */
@media screen and (min-width:1024px) and (max-width:1279px) {
  header {
    position: relative;
    width: 100%;
    height: 80px;
  }
/* 헤더상단으로 이동 */
  nav, section {
    width: 100%;
    margin-left: 0;
  }

  header h1 {
    /* logo1 -> logo2변경 위치도 왼쪽으로 이동 */
    background-image: url(../images/logo2.png);
    width: 200px;
    height: 40px;
    top: 20px;
    left: 20px;
    margin-left: 0;
  }

  /* gnb를 오른쪽 끝으로 이동 */
  #gnb {
    top: 20px;
    right: 30px;
  }

  #gnb li {
    float: left;
  }

  .snsSet {
    display: none;
    /* snsSet 를 숨김 */
  }

 
  article:nth-child(1){width:75%;}
  article:nth-child(2){width:25%;}
  article:nth-child(3){width:25%;}

  article:nth-child(4){width:25%;}
  article:nth-child(5){width:25%;}
  article:nth-child(6){width:50%;}

  article:nth-child(7){width:50%;}
  article:nth-child(8){width:25%;}
  article:nth-child(9){width:25%;}

  article:nth-child(10){width:50%;}
  article:nth-child(11){width:25%;}
  article:nth-child(12){width:25%;}

  

}




/* 780 ~ 1023 */
@media screen and (min-width:780px) and (max-width:1023px) {
  header {
    position: relative;
    width: 100%;
    height: 80px;
  }
/* 헤더상단으로 이동 */
  nav, section {
    width: 100%;
    margin-left: 0;
  }

  header h1 {
    /* logo1 -> logo2변경 위치도 왼쪽으로 이동 */
    background-image: url(../images/logo2.png);
    width: 200px;
    height: 40px;
    top: 20px;
    left: 20px;
    margin-left: 0;
  }
  

  /* gnb를 오른쪽 끝으로 조금더 이동 right:30 -> 10 */
  #gnb{
    top:20px;
    right:30px;
  }

  #gnb li{
    float:left;
  }
  #gnb li a{
    padding:10px;    
  }
    /* #gnb a안여백을 30 ->10 */

  .snsSet {
    display: none;
    /* snsSet 를 숨김 */
  }

  
  article:nth-child(1){width:100%;height:400px;}/*520px->400*/
  article:nth-child(2){width:66.6666%;}
  article:nth-child(3){width:33.3333%;}

  article:nth-child(4){width:25%;display:none;}
  article:nth-child(5){width:66.6666%;}
  article:nth-child(6){width:33.3333%;}

  article:nth-child(7){width:50%;display: none;}
  article:nth-child(8){width:33.3333%;}
  article:nth-child(9){width:33.3333%;}

  article:nth-child(10){width:50%;display: none;}
  article:nth-child(11){width:33.3333%;}
  article:nth-child(12){width:25%;display: none;}
  /* 컨텐츠 박스(article)중 중요도가 떨어지는 내용을 숨김 */
 
  
} 




/* 640 ~ 779 */
@media screen and (min-width:640px) and (max-width:779px) {
  header {
    position: relative;
    width: 100%;
    height: 80px;
  }
/* 헤더상단으로 이동 */
  nav, section {
    width: 100%;
    margin-left: 0;
  }

  header h1 {
    /* logo1 -> logo2변경 위치도 왼쪽으로 이동 */
    background-image: url(../images/logo2.png);
    width: 200px;
    height: 40px;
    top: 20px;
    left: 20px;
    margin-left: 0;
  }
  

  /* gnb를 오른쪽 끝으로 조금더 이동 right:30 -> 10 */
  #gnb{
    top:20px;
    right:30px;
  }

  #gnb li{
    float:left;
  }
  #gnb li a{
    padding:5px;    
  }
  /* #gnb a안여백을 10 ->5 */

  .snsSet {
    display: none;
    /* snsSet 를 숨김 */
  }

  
  article:nth-child(1){width:100%;height:400px;}/*520px->400*/
  article:nth-child(2){width:100%;}
  article:nth-child(3){width:33.3333%;display:none;}

  article:nth-child(4){width:25%;display:none;}
  article:nth-child(5){width:50%;}
  article:nth-child(6){width:50%;}

  article:nth-child(7){width:50%;display: none;}
  article:nth-child(8){width:50%;}
  article:nth-child(9){width:50%;}

  article:nth-child(10){width:50%;display: none;}
  article:nth-child(11){width:50%;}
  article:nth-child(12){width:50%;}
  /* 컨텐츠 박스(article)중 중요도가 떨어지는 내용을 숨김 */
 
  
} 




/* 480 ~ 639 */
@media screen and (min-width:480px) and (max-width:639px) { 
  header {
    position: relative;
    width: 100%;
    height: 130px; /*80 -> 130*/
  }
/* 헤더상단으로 이동 */
  nav{display: none;}
  /* nav숨김 */
  section {
    width: 100%;
    margin-left: 0;
  }

  header h1 {
    position:relative;
    /* logo1 -> logo2변경 위치도 왼쪽으로 이동 */
    background-image: url(../images/logo2.png);
    width:200px;
    height:45px;
    top:20px;
    left:0px;
    margin:0 auto;
  }
  

  /* gnb를 오른쪽 끝으로 조금더 이동 right:30 -> 10 */
  #gnb{
    top:80px; /*아래로이동*/
    right:0px;
    width:100%;
    /* 전체넓이를 100% */
    height:40px;
  }

  #gnb li{
    float:left;width:25%;
  }
  #gnb li a{
    padding:4px;  
    text-align: center;  
  }
  /* #gnb a안여백을 10 ->5 */

  .snsSet {
    display: none;
    /* snsSet 를 숨김 */
  }
  article{height:150px;} /*260 -> 150*/
  article .bg1 span{font-size:140px;bottom:-40px;right:0;}
  
  article:nth-child(1){width:100%;height:300px;}/*400px->300*/
  article:nth-child(2){width:100%;}
  article:nth-child(3){width:33.3333%;display:none;}

  article:nth-child(4){width:25%;display:none;}
  article:nth-child(5){width:50%;}
  article:nth-child(6){width:50%;}

  article:nth-child(7){width:50%;display: none;}
  article:nth-child(8){width:50%;}
  article:nth-child(9){width:50%;}

  article:nth-child(10){width:50%;display: none;}
  article:nth-child(11){width:50%;}
  article:nth-child(12){width:50%;}
  /* 컨텐츠 박스(article)중 중요도가 떨어지는 내용을 숨김 */
 
  
} 




/* 479px 이하일때 */
@media screen and (max-width:479px) {
  header {
    position: fixed;
    width: 100%;
    height: 40px; /*130 -> 40*/
    background-color: transparent;
    z-index:10;
  }
/* 헤더상단으로 이동 */
  nav{display: none;}
  section{
    width:100%;
    margin-left:0;
    z-index:5;
  }
  article{display:none;}
  article:nth-child(1){
    display:block;
    position:fixed;
    width:100%;
    height:100%;
  }
  /* article 첫번째만 보이고 나머지 숨김 */
  header h1{
    width:140px;
    top:20px;
    margin-left:-70px;
    /* 로고줄임 */
  }
  #gnb{
    top:140px;right:50%;
    width:250px;
    margin-right:-125px;
  }
  #gnb a{
    width:100%;box-sizing:border-box;
    background-color:#000;opacity:0.5;
    color:#fff;margin:8px 0;border-radius:10px;
  }
  .snsSet{display: none;}
  #gnb a:hover{opacity:1;transform: scale(1.1);}
  article:nth-child(1) span{display: none;}
  /* 
  로고위치 변경및 위치조정 
  #gnb position변경및 재배치
  #gnb li a 효과적용
  .snsSet숨김
  */


}

