@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

*{margin: 0;padding: 0;}
ul, ol{
  list-style: none;
}
a{
  outline: 0;
  text-decoration: none;
  color: #555;
}
img{
  border: 0;
}
body{
  font:12px/1.6 'Poiret One';color:#555;
}

/* 레이아웃 */
header{
  position:fixed;
  width:15%;
  height:100%;
  top:0;
  left:0;
  background-color: #fff;
}
nav{
  position:relative;
  margin-left:15%;
  width:85%;
  height:35px;
  background-color:#212121;
}
section{
  position: relative;
  margin-left: 15%;
  width: 85%;
}
/* 공동높이 */
article{
  position:relative;
  height:260px;
  float:left;
}

article:nth-child(1){width:60%;background-color: #ddd;height:520px;}
article:nth-child(2){width:40%;background-color: #ccc;}
article:nth-child(3){width:20%;background-color: #bbb;}
article:nth-child(4){width:20%;background-color: #aaa;}

article:nth-child(5){width:20%;background-color: #999;}
article:nth-child(6){width:40%;background-color: #888;}
article:nth-child(7){width:20%;background-color: #777;}
article:nth-child(8){width:20%;background-color: #666;}

article:nth-child(9){width:40%;background-color: #555;}
article:nth-child(10){width:20%;background-color: #444;}
article:nth-child(11){width:20%;background-color: #333;}
article:nth-child(12){width:20%;background-color: #222;}


/* 레이아웃 변경할떄 보여주는 효과 */
/* 브라우저 크기가 변할떄 각 컨텐츠 박스(아티클)가 점점 커지는 애니메이션 */

header, nav, section{
  transition: all 0.6s;
}

article{animation: scale1 1s;}
@keyframes scale1{
  0%{transform: scale(0);}
  100%{transform: scale(1);}
}
  
/* header 영역 스타일 */
/* 로고스타일 */
header h1{
  background:url(../images/logo1.png) no-repeat 0 0;
  width:180px;
  height:136px;
  background-size: contain;
  text-indent: -9999px;
  /* LOGO란 글씨가 왼쪽으로 사라짐 */
  position:absolute;
  top:70px;
  left:50%;
  margin-left:-90px;
  /* 좌우 중앙 정렬위해 크기의 절반을 이동 */
}

/* 메뉴 스타일 */
#gnb{
  position:absolute;
  top:300px;
  right:57px;
}
#gnb a{
  display: block;
  padding:3px 30px;
  font-size:17px;
  font-weight:bold;
  text-align:left;
  line-height:1.8;
}
#gnb a i {
  margin-right: 13px;
}
#gnb a{
  transition: all 0.6s;
}
#gnb a:hover{color:skyblue;}

/* sns 아이콘 스타일 */
.snsSet{
  width:90px;
  height:47px;
  position:absolute;
  bottom:50px;
  right:50%;
  margin-right:-50px; /*우측을 기준으로 중앙정렬*/
}
/* 전체 넓이가 90이므로 두줄로 정렬 */
.snsSet a{
  float:left;
}
nav a{
  position:absolute;
  top:5px;
}
nav a:nth-child(1){left:10px;}
nav a:nth-child(2){left:150px;}
nav a:nth-child(3){right:90px;}
nav a:nth-child(4){right:10px;}

/* article(컨텐츠박스) 영역 스타일 */
article>div{
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
  cursor:pointer;
  /* a태그 안넣어서 느낌만 */
}

/* 배경이미지 넣기 */
article .bg1{
  background-image:url(../images/pic1.jpg);
}
article .bg2{
  background-image: url(../images/pic2.jpg);
}
article .bg3{
  background-image: url(../images/pic3.jpg);
}
article .bg4{
  background-image: url(../images/pic4.jpg);
}
article .bg5{
  background-image: url(../images/pic5.jpg);
}
article .bg6{
  background-image: url(../images/pic6.jpg);
}
article .bg7{
  background-image: url(../images/pic7.jpg);
}

/* 이미지박스 스타일 */
article .bg{
  background-size: cover;
  background-position: center;
}

article .bg span{
  font-size: 60px;
  color:#fff;
  position:absolute;
  bottom:0;
  right:20px;
}

/* 메인이미지박스 제목 */
article .bg1 span{
  font-size: 170px;
  bottom:-76px;
  right:-6px;
  opacity:1;
}

article .bg span{
  transform: scale(10);
  opacity:0;
  transition: all 0.6s;
}
article:hover .bg span{
  transform: scale(1);
  opacity: 1;
}

/* 메인 이미지 박스 제목 효과 */
article .bg1 span{
  opacity:1;
  transform: scale(1) rotateY(0deg);
  transition: all 0.8s;
}
article:hover .bg1 span{
  transform: scale(1) rotateY(360deg);
  color:#222;
}

/* article 텍스트 영역 스타일 */
article .txt{
  color:#666;
  background-color: #fff;
  box-sizing: border-box;
  padding:40px 30px;
/* 글씨를 띄워서 보려고 준것 */
}
article:nth-child(3) .txt{
  background-color: #bff7fa;
}
article:nth-child(11) .txt {
  background-color: #e3f1fb;
}

/* 웹폰트 아이콘 기본 스타일(화살표) */
article .txt i{
  font-size: 300px;
  color:#b3effc;
  position:absolute;
  bottom:-70px;
  right:-200px;
  opacity:0;
  /* 화살표크게 확대한 후 오른쪽으로 안보이게 이동  */
}
article:nth-child(3) .txt i{
  font-size: 200px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  right: -15px;
  opacity: 0.7;
}
article .txt strong{
  font-size: 30px;
  line-height: 1.6;
  color:#444;
  margin-bottom: 20px;
  display:block; /*블럭요소로 변경(줄바꿈)*/
}

/* 텍스트 박스 호버 효과 */
article .txt, article .txt i{
  transition: all 1s;
}
/* 텍스트 제목 */
article .txt strong{
  transition: all 0.7s;
}

article:hover .txt{
  background-color:#6ce2fb;
  color:#fff;
  /* 제목 제외 작은글씨 변화 및 배경색 변화 */
}

article:hover .txt i{
  /* right:-200px, opacity:0 화살표 제자리오면서 opacity:0.5 */
  right:0;
  opacity:0.5;
}
article:hover .txt strong{
  color:#fff
}


