body{
  margin:0;
  padding:0;
  background-color: #1f93ff;
  background: 'linear-gradient(-45deg, #1f93ff,  #64b4ff)',
}
.App{
  max-width:500px;
  width:100%;
  margin:0 auto;
  box-sizing:border-box;
  padding:20px;
  border:1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap:30px;
  background:#fff;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
}