@charset "utf-8";

*{margin:0;padding:0;color:#222328;}
ul,li{list-style:none;}
	a{text-decoration:none;color:#222328;}
	
#wrap{
	width:100%;
}

header{
	width:100%;
	height:100px;
	background-color:tan;
}

.h_cover{
	width:1200px;
	height:100%;
	margin:0 auto;
	position:relative;
	z-index:9;
}

.h_cover .logo{
	width:200px;
	height:100px;
	float:left;
}
	
.h_cover .logo img{
	width:200px;
	height:auto;
	display:block;
	margin-top:35px;
}

nav{
	width:500px;
	float:right;
	text-align:center;
}

nav>ul>li{
	width:25%;
	float:left;
	line-height:50px;
	margin-top:50px;
	position:relative;
}

nav>ul>li a{
	display:block;
}

nav>ul>li:hover>a{
	color:#fff;
	background-color:pink;
}

nav>ul>li>ul{
	width:100%;
	position:absolute;
	top:100%;
	left:0;
	line-height:40px;
	font-size:14px;
	display:none;
}

nav>ul>li>ul a:hover{
	background-color:#fff;
}

.full_bg{
	width:100%;
	position:absolute;
	top:100%;
	left:0;
	height:200px;
	background-color:skyblue;
	display:none;
}

.img_slide{
	width:1200px;
	margin:0 auto;
	height:300px;
	position:relative;
	overflow:hidden;
}

.img_slide li{
	width:100%;
	height:100%;
	top:0;
	left:100%;
	position:absolute;
	overflow:hidden;
}

.img_slide li img{
	width:100%;
	height:auto;
	display:block;
}

.img_slide li:first-child img{
	margin-top:-100px;
}

.img_slide li:first-child{
	left:0;
}

.img_slide li .txt{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color:rgba(255,255,255,0.3);
	padding:30px;
	box-sizing:border-box;
	border-radius:10px;
}

.img_slide li .txt p{
	font-size:24px;
	line-height:2;
	font-weight:bold;
	margin-bottom:10px;
}

.img_slide li .txt a{
	font-size:18px;
}

section{
	width:1200px;
	margin:0 auto;
	height:200px;
}

section article{
	float:left;
	width:400px;
	height:100%;
}

.c1 table{
	width:100%;
	font-size:12px;
	line-height:2.2;
	border-spacing:0;
}

.c1 table tr:nth-child(even){
	background-color:pink;
}

.c1 table caption{
	font-size:18px;
}

.c2 h3{
	font-size:18px;
	font-weight:normal;
	line-height:2;
}

.c2 .box{
	width:120px;
	height:67px;
	overflow:hidden;
	margin-left:10px;
	margin-top:48.5px;
	float:left;
}

.c2 h3{
	text-align:center;
}

.c2 img{
	height:auto;
	width:100%;
	display:block;
}

.c2 .b1 img{	
	margin-top:-20px;
}

.c3 .banner{
	width:100%;
	height:33.33%;
}

.c3 .banner img{
	height:100%;
	width:auto;
	display:block;
	float:left;
	margin-right:10px;
}

.c3 .banner p{
	float:left;
	font-size:13px;
	line-height:1.5;
	margin-top:4.5px;
}

.banner a{
	display:block;
	width:100%;
	height:100%;
}

footer{
	width:100%;
	height:100px;
	background-color:#ccc;
}

footer .f_cover{
	width:1200px;
	margin:0 auto;
	height:100%;
}

footer .f_cover>div{
	float:right;
}

.f_fam{
	width:200px;
	height:100%;
}

.f_fam span{
	display:inline-block;
	margin-right:10px;
	font-size:12px;
	line-height:1.8;
}

.f_menu a{
	margin:0 10px;
	font-size:14px;
}


.f_menu{
	width:800px;
	height:25px;
	text-align:center;
}

.f_copy{
	width:800px;
	height:75px;
	text-align:center;
	font-size:14px;
	line-height:1.7;
	margin-top:5px;
}

.pop{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.3);
	display:none;
}

.pop_cover{
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	position:absolute;
	background-color:#fff;
	padding:30px;
	border-radius:10px;
}

.t1{
	cursor:pointer;
}








