@charset "utf-8";

*{margin:0;padding:0;border:0;}
ul,li{list-style:none;}
a{text-decoration:none;color:#333;}
img{border:0;}

.cf:after{
	content:'';
	display:block;
	clear:both;
}

body{
	background-color:#eaeaea;
}

#wrap{
	width:1000px;
	height:650px;
	border:1px solid #333;
}

header{
	width:15%;/*150px*/
	height:100%;/*650px*/
	float:left;
	background-color:#db590b;
}

header h1{
	width:100%;
	height:auto;
}
header h1 img{
	width:100%;
	height:auto;
}

header nav{
	margin-top:30px;
}
header nav dl{
	width:96%;
	margin:0 auto;
	text-align:center;
	border:1px solid #333;
}

header nav dl dt{
	line-height:40px;
	background-color:rgba(255,255,255,0.4);
	font-size:16px;
	font-weight:bold;
}
header nav dl dd{
	display:none;
	font-size:13px;
	line-height:24px;
	background-color:rgba(255,255,255,0.6);
}
header nav dl dd ul li a{
	display:block;
	width:100%;
	height:100%;
}
header nav dl dd ul li:hover a{
	background-color:rgba(255,255,255,0.2);
	color:#60b892;
}



section{
	width:85%;/*850px*/
	height:100%;/*650px*/
	float:left;
}

#img_slide{
	width:100%;
	height:350px;
	position:relative;
	overflow:hidden;
}
#img_slide .img{
	width:100%;
	height:100%;
	position:relative;
}
#img_slide .img li{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	background:no-repeat center /cover;
}
#img_slide .img li.img1{
	background-image:url(../images/main1.jpg);
	left:0;
}
#img_slide .img li.img2{
	background-image:url(../images/main2.jpg);
}
#img_slide .img li.img3{
	background-image:url(../images/main3.jpg);
}
#img_slide .img li.img4{
	background-image:url(../images/main4.jpg);
}
#img_slide .img li.img5{
	background-image:url(../images/main5.jpg);
}
#img_slide .img li.img6{
	background-image:url(../images/main6.jpg);
}
#img_slide .img li:not(.img1){
	left:100%;
}
#img_slide .btn{
	position:absolute;
	bottom:20px;
	left:50%;
	transform:translateX(-50%);
}
#img_slide .btn li{
	float:left;
	margin:0 5px;
}
#img_slide .btn li a{
	display:block;
	width:15px;
	height:15px;
	background-color:#434343;
	border-radius:50%;
	box-shadow:0 0 3px 2px rgba(255,255,255,0.5);
}
#img_slide .btn li.on a{
	background-color:#60b892;
}

#content{
	width:100%;
	height:200px;
}
#content .con{
	float:left;
	width:33.33%;
	height:100%;
}
#content .notice table{
	border:1px solid #434343;
	border-left:none;
	border-right:none;
	width:96%;
	margin:0 auto;
	background-color:#60b892;
}
#content .notice table tr{
	font-size:10px;
	letter-spacing:-1px;
	background-color:rgba(255,255,255,0.5);
}
#content .notice table tr:nth-child(even){
	background-color:rgba(255,255,255,0.7);
}
#content .notice table tr td{
	padding:7px 1px;
}
#content .gallery{text-align:center;}
#content .gallery img{
	width:95%;
	height:auto;
	margin-top:21px;
}
#content .gallery p{
	font-size:11px;
}
#content .icons{
	padding:0 30px;
	box-sizing:border-box;
}
#content .icons .icon{
	width:100%;
	height:30%;
	margin-top:2.5%;
	padding:10px;
	box-sizing:border-box;
	background-color:#60b892;
	border-radius:10px;
}
#content .icons .icon img{
	width:auto;
	height:100%;
	float:left;
}
#content .icons .icon button{
	float:right;
	width:150px;
	height:100%;
	color:#fff;
	background-color:#60b892;
}

footer{
	width:100%;
	height:100px;
	background-color:#434343;
	color:#fff;
}
footer .foot_left{
	float:left;
}
footer .foot_left .foot_menu{
	height:50px;
}
footer .foot_left .foot_menu ul li{
	float:left;
	height:50px;
	line-height:50px;
	margin:0 10px;
	font-size:13px;
}
footer .foot_left .foot_menu ul li a{
	color:#fff;
}
footer .foot_left .foot_menu ul li a:hover{
	color:#60b892;
}
footer .foot_left .foot_copy{
	height:50px;
}
footer .foot_left .foot_copy p{
	font-size:13px;
}

footer .foot_right{
	float:right;
}
footer .foot_right img{
	width:112px;
	height:auto;
	display:block;
}

#pop{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:rgba(0,0,0,0.5);
}

#pop .pop_cover{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	background-color:#fff;
	padding:20px;
	border-radius:10px;
}

.pop_cover button{
	display:block;
	padding:5px 10px;
	background-color:#60b892;
	color:#fff;
	border-radius:5px;
	margin:10px auto 0;
}






