* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
#wrap{
  width:900px;
  margin:0 auto;
}
header{
  height:200px;
  background-color: #f46075;
}
h1{
  float:left;
  color:#fff;
  margin:70px 0 0 50px;
}
.log_p{
  float:right;
  margin: 30px 20px 0 0;
}

nav{
  height:60px;
  background-color: #ddd;
  
}
nav ul li{
  float:left;
  margin:10px 0 0 50px;
}
nav ul li a{
  width:160px;
  height: 40px;
  text-align: center;
  display: block;
  line-height: 40px;
}
nav ul li:hover a{
  background-color:#f46075;
  font-weight: bold;
  color:#fff;
  border-radius:20px;
}

.main{
  height:550px;
  
}


section{
  float: left;
  width:650px;
  height: 550px;
  background-color: skyblue;
}
section h2{
  text-align: center;
  padding:10px 0;
}
section article{
  width:280px;
  height:180px;
  background-color: #fff;
  float:left;
  border:1px solid #333;
  margin:0  0 15px 15px;
  padding:10px;
  /* box-sizing: border-box; */
}
section article h3{
  padding-left: 27px;
  padding-bottom:10px;
  background:url(../img/bg.png) no-repeat 0 5px;  
}
section article p{
  font-size:13px;
  text-align: justify;
}


aside{
  float: left;
  width:250px;
  height: 550px;
  background-color: #ffffcc;
  text-align: center;
}
aside h2 {  
  padding: 10px 0;
}
aside img{
  padding-bottom: 10px;
}


footer{
  height: 50px;
  background-color: #333;
  color:#fff;
  line-height: 50px;
  text-align: center;  
}