@charset "utf-8";

*{margin:0; padding:0; border:0;}
ul,li{list-style:none;}
a{text-decoration:none;}
img{border:0;}
.cf:after{content:''; display:block; clear:both;}

body{font-family: 'Noto Sans KR', sans-serif;}

#header{
	width:100%;
	height:90px;
	position:relative;
	z-index:999;
}

#header .header_cover{
	/* width:1500px; */
	width:1400px;
	margin:0 auto;
}

.header_cover .logo{
	float:left;
	width:10%;
}

.header_cover .logo a{
	display:block;
	width:100%;
	height:100%;
}

.header_cover .logo a img{
	display:block;
	width:80%;
	height:auto;
	padding-top:15px;
}

.header_cover .nav{
	float:left;
	margin-left:10%;
	width:60%;
}

.header_cover .nav > li{
	float:left;
	width:20%;
	line-height:90px;
	text-align:center;
	box-sizing:border-box;
}

.header_cover .nav > li a{
	position:relative;
	display:block;
	width:100%;
	height:100%;
	color:#000;
}

.header_cover .nav > li a .line{
	position:absolute;
	bottom:0;
	left:0;
	width:0;
	height:2px;
	background-color:#1634DB;
	transition:all 0.5s;
}

.full_menu{
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	height:450px;
	border-top:1px solid #c1c1c1;
	box-sizing:border-box;
	display:none;
	background-color:#fff;
}

.full_menu .full_cover{
	width:1400px;
	margin:0 auto;
}

.full_menu .full_cover > ul{
	width:60%;
	height:100%;
	margin-left:20%;
}

.full_menu .full_cover > ul > li{
	float:left;
	width:20%;
	height:450px;
	border-left:1px solid #c1c1c1;
	box-sizing:border-box;
}

.full_menu .full_cover > ul > li:last-child{
	border-right:1px solid #c1c1c1;
}

.full_menu .full_cover > ul > li > ul{
	width:100%;
}

.full_menu .full_cover > ul > li > ul > li{
	width:100%;
	line-height:50px;
	text-align:center;
}

.full_menu .full_cover > ul > li > ul > li a{
	position:relative;
	color:#000;
}

.full_menu .full_cover > ul > li > ul > li a:after{
	content:'';
	display:block;
	position:absolute;
	bottom:-5px;
	left:0;
	width:0;
	height:1px;
	background-color:#1634DB;
	transition:all 0.5s;
}

.full_menu .full_cover > ul > li > ul > li a:hover{
	color:#1634DB;
}

.full_menu .full_cover > ul > li > ul > li a:hover:after{
	width:100%;
}

.header_cover .gnb{
	float:right;
	width:20%;
}

.header_cover .gnb li{
	float:left;
	width:33.33%;
	font-size:14px;
}

.header_cover .gnb li:nth-child(1) a{
	background:url(../images/ico_lang.png) no-repeat 0 50% /30%;
}

.header_cover .gnb li a{
	display:block;
	width:100%;
	height:100%;
	line-height:90px;
	text-align:center;
	color:#000;
}

.header_cover .gnb li a img{
	vertical-align:middle;
	width:40px;
}

.header_cover .gnb li a .leave{display:inline-block;}
.header_cover .gnb li a .hover{display:none;}

.header_cover .gnb li a:hover .leave{display:none;}
.header_cover .gnb li a:hover .hover{
	display:inline-block;
	transform:scale(1.1);
}

/* #main_slide */

#main_slide{
	position:relative;
	width:100%;
	/*height:800px; */
	background-color:#fff;
	overflow:hidden;
}

.slide_cover{
	position:relative;
	width:90%;
	margin:0 auto;
}

.slide_cover ul{
	position:relative;
	width:100%;
}

.slide_cover ul li{
	position:absolute;
	width:100%;
	overflow:hidden;
}

.slide_cover ul li.on{z-index:6;}
.slide_cover ul li:nth-child(1){z-index:5;}

.slide_cover ul li a{
	position:relative;
	display:block;
	width:100%;
	height:100%;
}

.slide_cover ul li a h1.img_logo{
	position:absolute;
	top:15%;
	left:10%;
	color:#fff;
	font-size:60px;
	width:480px;
	word-break:keep-all;
	/**/
	opacity:0;
	transition:all 2s;
}

.slide_cover ul li a h1.img_logo.on{
	top:10%;
	opacity:1;
}

.slide_cover ul li a p.img_text{
	position:absolute;
	/* bottom:15%; */
	bottom:0;
	right:10%;
	color:#fff;
	font-size:24px;
	width:400px;
	/**/
	opacity:0;
	transition:all 2s;
}

.slide_cover ul li a p.img_text.on{
	bottom:15%;
	opacity:1;
}

.slide_cover ul li a .box{
	position:absolute;
	bottom:10%;
	left:55%;
	/* width:250px; */
	width:0;
	height:250px;
	transition:all 1.5s;
}

.slide_cover ul li a .box.on{
	width:250px;
	animation:rotate 15s infinite linear;
}

@keyframes rotate{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(45deg);}
}

.slide_cover ul li a .box.box1.on{
	background-color:#0D28BD;
}

.slide_cover ul li a .box.box2.on{
	background-color:#0088CE;
}

.slide_cover ul li a .box.box3.on{
	background-color:#00AD83;
}

.slide_cover ul li a img{
	display:block;
	width:100%;
	height:auto;
	transition:all 5s;
}

.slide_cover ul li a img.mo{
	display:none;
}

.slide_cover ul li a img.on{
	transform:scale(1.1);
}

.slide_btn{
	position:absolute;
	bottom:100px;
	left:200px;
	width:300px;
	height:10px;
	z-index:11;
}

.slide_btn ul li{
	position:relative;
	float:left;
	width:90px;
	height:10px;
	margin-left:15px;
	background-color:rgba(0,0,0,.4);
	cursor:pointer;
}

.slide_btn ul li:nth-child(1){
	margin-left:0;
}

.slide_btn ul li a{
	position:relative;
	display:block;
	width:100%;
}

.slide_btn ul li a .color{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	width:0;
	height:10px;
	background-color:rgba(255,255,255,.8);
}

.slide_btn ul li a .color.on{
	animation:width 7s linear forwards;
}

.slide_btn .reset{
	position:absolute;
	top:50%;
	right:-40px;
	transform:translateY(-50%);
	width:30px;
	height:30px;
	cursor:pointer;
}

.slide_btn .reset .off{display:block;}
.slide_btn .reset .on{display:none;}

.slide_btn .reset img{
	display:block;
	width:100%;
	height:auto;
}

.slide_cover ul li .white_box{
	position:absolute;
	top:0;
	left:-100%;
	width:100%;
	height:100%;
	z-index:7;
	background-color:#fff;
}

@keyframes width{
	0%{width:0;}
	100%{width:100%;}
}

/* .main_cursor */

.main_cursor{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:9;
}

.main_cursor .cursor{
	position:absolute;
	top:0;
	left:0;
	transform:translate(-50%, -50%);
	width:60px;
	height:60px;
	background:no-repeat center/contain;
	pointer-events:none;
}

.main_cursor .cursor:before{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:60px;
	height:60px;
	background-image:url('../images/main_cursor_l.svg');
	opacity:0;
}

.main_cursor .cursor:after{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:60px;
	height:60px;
	background-image:url('../images/main_cursor_r.svg');
	opacity:0;
}

.main_cursor .cursor_left{
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:100%;
	cursor:none;
}

.main_cursor .cursor_left:hover ~ .cursor:before{
	opacity:1;
}

.main_cursor .cursor_left:hover ~ .cursor:after{
	opacity:0;
}

.main_cursor .cursor_right:hover ~ .cursor:before{
	opacity:0;
}

.main_cursor .cursor_right:hover ~ .cursor:after{
	opacity:1;
}

.main_cursor .cursor_right{
	position:absolute;
	top:0;
	right:0;
	width:50%;
	height:100%;
	cursor:none;
	/* cursor:pointer; */
}

/* #main_slide */

#content{
	width:100%;
	margin-top:30px;
}

#content .content_cover{
	width:1200px; /**/
	margin:0 auto;
}

#content .content_cover ul li{
	float:left;
	width:25%;
	line-height:80px;
	text-align:center;
}

#content .content_cover ul li a{
	position:relative;
	display:block;
	width:100%;
	height:80px;
	line-height:80px;
}

#content .content_cover ul li a:after{
	content:attr(data-text);
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#000;
}

#content .content_cover ul li a img{
	position:absolute;
	top:50%;
	left:10%;
	transform:translateY(-50%);
	display:block;
	width:20%;
	height:auto;
}

#content .content_cover ul li a .leave{display:block;}
#content .content_cover ul li a .hover{display:none;}

#content .content_cover ul li a:hover .leave{display:none;}
#content .content_cover ul li a:hover .hover{display:block;}

/* #content */

/* #media_center */

#media_center{
	width:100%;
	margin:100px 0;
}

.media_cover{
	width:1400px;
	margin:0 auto;
}

.media_cover .title{
	font-size:48px;
}

.media_cover ul{
	margin-top:100px;
}

.media_cover ul li{
	float:left;
	width:33%;
	height:350px;
	margin:0 0 .5% .5%;
}

.media_cover ul li:nth-child(3n+1){margin:0 0 .5% 0;}

.media_cover ul li a{
	position:relative;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
}

.media_cover ul li a:hover:after{
	height:100px;
}

.media_cover ul li a:after{
	content:'';
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:10px;
	background-color:#008765;
	transition:all 0.6s;
}

.media_cover ul li a:hover .c_img{
	transform:translate(-50%, -50%) scale(1.1);
}

.media_cover ul li a .c_img{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	display:block;
	width:auto;
	height:350px;
	transition:all 0.6s;
}

.media_cover ul li a .text{
	position:absolute;
	bottom:10%;
	left:5%;
	width:80%;
	color:#fff;
	font-size:20px;
	z-index:2;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.media_cover ul li a .arrow{
	position:absolute;
	bottom:10%;
	right:2%;
	width:30px;
	height:30px;
	opacity:0;
	transition:all 0.6s;
	z-index:4;
}

.media_cover ul li a .arrow img{
	display:block;
	width:100%;
	height:auto;
}

.media_cover ul li a:hover .arrow{
	opacity:1;
}

/* #media_center */

#find{
	width:100%;
	height:400px;
	background-color:#173BEB;
}

.find_cover{
	width:1400px;
	margin:0 auto;
	
}

.find_cover .fl{
	float:left;
	width:50%;
	height:300px;
	margin-top:100px;
	box-sizing:border-box;
}

.find_cover .find_left .what_find{
	font-size:40px;
	color:#fff;
}

.find_cover .find_left form{
	position:relative;
	margin-top:50px;
}

.find_cover .find_left form #search{
	width:100%;
	margin:0 auto;
	height:70px;
	padding:20px;
	box-sizing:border-box;
	font-size:24px;
}

.find_cover .find_left form a{
	position:absolute;
	right:20px;
	top:50%;
	transform:translateY(-50%);
	display:block;
	width:40px;
	height:40px;
}

.find_cover .find_left form a img{
	display:block;
	width:100%;
	height:auto;
}

.find_cover .find_right{
	padding:0 30px;
	margin-top:50px;
}

.find_cover .find_right ul{text-align:center;}

.find_cover .find_right ul > li{
	display:inline-block;
	text-align:center;
	font-size:20px;
	margin:10px;
}

.find_cover .find_right ul > li a{
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	padding:10px 35px 10px 20px;
	box-sizing:border-box;
	background:rgba(0,0,0,.3) url(../images/ico_arrow_white.png) no-repeat 90% 50%/ 5px;
}

.find_cover .find_right ul > li a:hover{
	color:#000;
	background:#fff url(../images/ico_arrow_blue.png) no-repeat 90% 50%/ 5px;
}

/* #find */

/* #footer */

#footer{
	width:100%;
	height:70px;
	margin-top:30px;
	padding-bottom:30px;
}

.footer_cover{
	width:1400px;
	height:70px;
	margin:0 auto;
}

.footer_cover .foot_left{
	float:left;
	width:30%;
}

.footer_cover .foot_left img{
	display:block;
	width:30%;
	height:auto;
	float:left;
}

.footer_cover .foot_left img.on{display:none;}

.footer_cover .foot_left span{
	display:block;
	float:left;
	font-size:16px;
	font-weight:normal;
	line-height:70px;
	margin-left:20px;
}

.footer_cover .foot_center{
	float:left;
	width:50%;
}

.footer_cover .foot_center ul{
	text-align:center;
}

.footer_cover .foot_center ul li{
	display:inline-block;
	line-height:70px;
	padding:0 10px;
}

.footer_cover .foot_center ul li a{
	color:#000;
}

.footer_cover .foot_right{
	float:right;
	width:5%;
}

.footer_cover .foot_right img{
	display:block;
	width:100%;
	height:auto;
	margin-top:20px;
}

/*       반응형           */

@media screen and (max-width : 1500px){
	.find_cover{
		width:90%;
		padding:0;
	}
}

@media screen and (max-width : 1400px){
	#header .header_cover{
		width:90%;
	}
	
	.full_menu .full_cover{
		width:90%;
	}
	
	.media_cover{
		width:90%;
	}
	
	#content .content_cover{
		width:90%;
	}
	
	.find_cover{
		width:90%;
		padding:0;
	}
	
	.footer_cover{
		width:90%;
	}
	
	.find_cover .find_left form #search{
		width:90%;
		margin:0 0 0 5%;
	}
	
	.find_cover .find_left .what_find{
		margin-left:5%;
	}
	
	.find_cover .find_left form a{
		right:50px;
	}
}

@media screen and (max-width : 1330px){
	
	#header{height:auto;}
	
	.header_cover .logo{
		float:none;
		margin:0 auto;
		padding:20px 0;
	}
	
	.header_cover .logo a img{
		padding:0;
	}
	
	.header_cover .nav{
		display:none;
	}
	
	.header_cover .gnb{
		display:none;
	}
	
	.slide_cover ul li a p.img_text{
		width:auto;
		right:auto;
		left:50%;
		transform:translate(-50%,-50%);
		font-size:18px;
		text-align:center;
		word-break:keep-all;
	}
	
	.slide_btn{
		left:50%;
		bottom:20px;
		transform:translate(-50%,-50%);
	}
	
	.slide_cover ul li a .box{
		left:15%;
		bottom:13%;
		height:100px;
	}
	
	.slide_cover ul li a .box.on{
		width:100px;
	}
	
	.slide_cover ul li a h1.img_logo{
		width:auto;
		font-size:30px;
		left:5%;
	}
	
	.slide_cover ul li a h1.img_logo.on{
		top:5%;
	}
	
	.slide_cover ul li a img.pc{
		display:none;
	}
	
	.slide_cover ul li a img.mo{
		display:block;
	}
	
	
	#find{
		height:auto;
	}
	
	.find_cover{
		padding:0;
	}
	
	.find_cover .fl{
		float:none;
		width:100%;
		height:auto;
		margin-top:50px;
	}
	
	.find_cover .find_left .what_find{
		padding:30px 0 0 30px;
		box-sizing:border-box;
	}
	
	.find_cover .find_left form #search{
		width:90%;
		margin-left:5%;
	}
	
	.find_cover .find_left form a{
		right:8%;
	}
	
	.find_cover .find_right{
		float:none;
		width:100%;
	}
	
	.footer_cover .foot_left{
		float:none;
		width:90%;
		margin:0 auto;
		text-align:center;
	}
	
	.footer_cover .foot_center{
		float:none;
		width:100%;
	}
	
	.footer_cover .foot_right{
		float:none;
		width:10%;
	}
	
	.footer_cover .foot_left img{
		float:none;
		display:inline-block;
		width:10%;
	}
	
	.footer_cover .foot_left img.on{
		display:inline-block;
		width:8%;
		margin-left:10px;
	}
	
	.footer_cover .foot_left span{
		display:none;
	}
	
	.footer_cover .foot_right{
		display:none;
	}
}

@media screen and (max-width : 1200px){
	.media_cover ul{
		margin-top:50px;
	}
	
	.media_cover ul li{
		width:49.5%;
		margin:0;
		height:200px;
	}
	
	.media_cover ul li:nth-child(3n+1){
		margin:0
	}
	
	.media_cover ul li:nth-child(2n){
		margin-left:1%;
		margin-top:1%;
	}
	
	.media_cover ul li:nth-child(2n+1){
		margin-top:1%;
	}
	
	.media_cover ul li a .text{
		font-size:14px;
	}
	
	.media_cover .title{
		font-size:24px;
	}
	
	#content .content_cover ul li{
		width:50%;
		line-height:normal;
		height:auto;
		margin-top:20px;
	}
	
	#content .content_cover ul li a{
		color:transparent;
		height:auto;
		line-height:normal;
	}
	
	#content .content_cover ul li a img{
		position:static;
		transform:none;
	}
	
	#content .content_cover ul li a:after{
		content:attr(data-text);
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		color:#000;
	}
}


















































