* {
  margin: 0;
  padding: 0;
}
.cf::after{
  content:'';
  display: block;
  clear: both;
}
.bigbox{
  width:1000px;
  border:5px solid tan;
  margin:0 auto;
  padding-bottom: 10px;
}
.bigbox h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bigbox .box{
  float:left;
  border:5px solid lime;
  margin-left:32px;
  margin-top:30px;
  width:200px;
  /* overflow: hidden; */
}
.bigbox .box img{
  display: block;
  width:100%;
  transition: all 0.5s;
}
/* .box1 img{transform-origin: left top;} */
.box1:hover img{
  transform: scale(1.2,1.2);
}
.box2 img{
  transform-origin: left top;
  /* 회전의 중심점 */
}
.box2:hover img {
  transform: rotate(360deg);
}
.box3{
  perspective: 200px;
}
.box3:hover img {
  transform: rotateY(360deg);
}
.box4 {
  perspective: 700px;
  /* 원근감 */
}
.box4 img{
  transform-origin: left center;
  /* 중심축 */
}
.box4:hover img {
  transform: rotateY(360deg);
}



/* abigbox */
.abigbox {
  width: 1000px;
  border: 5px solid tan;
  margin: 0 auto;
  padding-bottom: 30px;
}
.abigbox h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.abigbox .abox {
  float: left;
  border: 5px solid lime;
  margin-left: 32px;
  margin-top: 30px;
  width: 200px;
  height: 150px;
  position:relative;
}
.abox1{
  /* background:url(../images/women1.jpg) no-repeat 50% 50%/100%;
    */
  background:url(../images/women1.jpg) no-repeat 50% 50%;
  background-size: 100%;
  transition: all 0.5s;
}
.abox1:hover{
  /* background: url(../images/women1.jpg) no-repeat 50% 50%/120%; */
  background-size: 120%;
}

.abox2 {overflow: hidden;}
.txt1{
  position:absolute;
  bottom:-40px;
  text-align: center;
  background-color:#000;
  color:#fff;
  height:40px;
  line-height: 40px;
  width:100%;
  transition: all 0.5s;
}
.abox2:hover .txt1{
  bottom: 0px;
}

.abox3 img{transition: all 0.35s;}
.abox3:hover img{
  opacity: 0.8;
}

