@charset "utf-8";

*{margin:0;padding:0;border:0;}
ul,li{list-style:none;}
a{text-decoration:none; color:#666;}
.cf:after{content:'';display:block;clear:both;}

#wrap{
	width:960px;
	height:1200px;
	margin:0 auto;
}
/*header*/
header{
	width:960px;
	height:200px;
	background:url(../images/main.jpg) no-repeat center;
	background-size:cover;
	position:relative;
	border-top:1px solid transparent;
}

header #logo{
	width:220px;
	margin:50px auto 0;
}

header #logo img{
	width:100%;
	height:auto;
}

header > #nav_cover{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	background-color:#3a435d;
}

 #nav_cover > ul{
	position:absolute;
	left:50%;
	bottom:0;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	width:768px;
	z-index:2;
}

 #nav_cover > ul > li{
	width:25%;
	float:left;
	text-align:center;
	height:50px;
	line-height:50px;
	
	position:relative;
}

 #nav_cover > ul > li > a{
	display:block;
	width:100%;
	height:100%;
	color:#eee;
}

 #nav_cover > ul > li > ul{
	display:none;
	position:absolute;
	width:100%;
	border-bottom:2px solid #bb966a;
	z-index:100;
}

 #nav_cover > ul > li > ul > li{
	line-height:30px;
	background-color:#f6f1eb;
	border-bottom:1px solid #bb966a;
}


 #nav_cover > ul > li > ul > li > a{
	display:block;
	width:100%;
	height:100%;
	
}

/*main_img*/
#main_img{
	width:960px;
	height:350px;
	background-color:#bbb;
	position:relative;
	overflow:hidden;
}

#main_img .img{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
}



#main_img #a_img{
	background:url(../images/main_1.jpeg) no-repeat center -40px; 
	background-size:100%;
	left:0;
}
#main_img #b_img{
	background:url(../images/main_2.jpeg) no-repeat center; 
	background-size:cover;
	left:100%;
}
#main_img #c_img{
	background:url(../images/main_3.jpeg) no-repeat center top; 
	background-size:cover;
	left:200%;
}

#button li{
	width:14px; height:14px;
	position:relative;
	left:50%;
	top:300px;
	margin:0 5px;
	float:left;
}

#button li a{
	display:block;
	width:100%;
	height:100%;
	border-radius:50%;
	background-color:#fff;
	box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}

#button li.on a{
	background-color:#3a435d;
}

/*section*/
#section{
	width:960px;
	height:500px;

}
#section #table{
	width:40%;

	float:left;
	margin-left:6.66%;
}

#section #quick_btn{
	width:35%;
	float:left;

	margin-left:9%;
} 
#section #quick_btn img{
	width:80%;
	height:auto;
}

#section #table table{
	width:100%;
	border-collapse:collapse;
}
#section #table table caption{
	text-align:left;
	line-height:50px;
	text-decoration:underline;
}
#section #table table td{
	line-height:28px;
	font-size:13px;
}

#section #table table tr:nth-child(1),
#section #table table tr:nth-child(3){
	background-color:#f6f1eb;
}

#section #quick_btn{
	text-align:center;
}

#section #btn{
	clear:both;
	width:85%;
	margin:0 auto;

}

#section #btn img{
	width:150px;
	height:auto;
	vertical-align:middle;
	margin-left:39.6px;
}

#section #btn img:nth-child(3){
	width:120px;
}
/*footer*/
footer{
	width:960px;
	height:150px;
	background-color:#3a435d;
}
footer .footer_block{
	float:left;
}
footer .footer_block:nth-child(1){
	width:45%;
}
footer .footer_block:nth-child(1) img{
	margin-top:30px;
}

footer .footer_block:nth-child(2){
	width:55%;
	color:#eee;
}









