*{margin:0;padding:0;}
a{text-decoration:none;}

h2{
  position: fixed;
  bottom:10px;
  right:10px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
}

nav{
  position:fixed;
  top:0;
  height:100px;
  width:100%;
  background:rgba(255, 255, 255, 0.5);
  z-index: 10;
  transition: all 0.5s;
}
nav.fixed{
  position:fixed;
  background:rgba(255, 255, 255, 1);

}

nav ul{
  width:1000px;
  height: 100px;
  margin:0 auto;
  list-style: none;
}
nav ul li{
  float:left;
} 
nav ul li a{
  display: block;
  width:250px;
  height:100px;
  line-height: 100px;
  font-size:30px;
  color:#000;
  text-align: center;
  text-decoration: none;
}
nav ul li.on a{
  color:orange;
  font-weight: bold;
}


article{
  width:100%;
  height:100vh;
  position:absolute;
}
#article1{
  background-color:pink;
  left:0;
}
#article2{
  background-color:hotpink;
  left:100%;
}
#article3{
  background-color:skyblue;
  left:200%;
}
#article4{
  background-color:tomato;
  left:300%;
}